.pagination {
    display: inline-block;
  }
  
  .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination span.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination span:hover:not(.active) {background-color: #ddd; cursor: pointer;}
  
  .pagination span:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination span:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  /* Button  */
  .btn {
    margin-top: 10px;
  }